
/*=========================================
        19. TRANSACTION NOTIFICATION
============================================*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
    
    .custom-notification {
            border-radius: 6px;
            box-shadow: 2px 2px 10px 2px rgba(0, 4, 4, 0.2);
            background-color: #fff;
            padding: 5px 3%;
            }
            
.custom-social-proof {
    position: fixed;
    top: 100px;
    right: 100px;
    z-index: 9999999999999 !important;
  font-family: 'Open Sans', sans-serif;
    //display: none;  /* Uncoment This Line to Hide Initially*/
    .custom-notification {
        width: 250px;
        border: 0;
        text-align: left;
        z-index: 99999;
        box-sizing: border-box;
        font-weight: 400;
        position: relative;
        cursor: pointer;
        .custom-notification-container {
            display: flex !important;
            align-items: center;
            height: 80px;
            .custom-notification-image-wrapper {
                img {
                    max-height: 75px;
                    width: 90px;
                    overflow: hidden;
                    border-radius: 6px 0 0 6px;
                    object-fit: cover;
                }
            }
            .custom-notification-content-wrapper {
                margin: 0;
                height: 100%;
                color: gray;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 0 6px 6px 0;
                flex: 1;
                display: flex !important;
                flex-direction: column;
                justify-content: center;
                .custom-notification-content {
                    font-family: inherit !important;
                    margin: 0 !important;
                    padding: 0 !important;
                    font-size: 14px;
                    line-height: 16px;
                    small {
                        margin-top: 3px !important;
                        display: block !important;
                        font-size: 12px !important;
                        opacity: .8;
                    }
                }
            }
        }
        .custom-close {
            position: absolute;
            top: 8px;
            right: 8px;
            height: 12px;
            width: 12px;
            cursor: pointer;
            transition: .2s ease-in-out;
            transform: rotate(45deg);
            opacity: 1;
            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: gray;
                position: absolute;
                left: 0;
                top: 5px;
            }
            &::after {
                content: "";
                display: block;
                height: 100%;
                width: 2px;
                background-color: gray;
                position: absolute;
                left: 5px;
                top: 0;
            }
        }
        &:hover {
            .custom-close {
                opacity: 1;
            }
        }
    }
}
@media (min-width:0px) and (max-width:719px){
    .custom-social-proof {
        right: 5%;

            .custom-notification {
            width: 220px;
                }
        }

}


/*=========================================
        20. PROFIT CALCULATOR CSS
============================================*/
@media (max-width: 991px) {
	.profit-calculator-section {
		padding-bottom: 90px;
	}
}

@media (max-width: 575px) {
	.profit-calculator-section {
		padding-bottom: 80px;
	}
}

.profit-calculator-wrapper .title {
	font-size: 40px;
	margin-bottom: 36px;
	margin-top: -10px;
}

@media (max-width: 575px) {
	.profit-calculator-wrapper .title {
		font-size: 32px;
	}
}

.profit-calculator-form .form-row {
	margin-left: -15px;
	margin-right: -15px;
}

@media (max-width: 991px) {
	.profit-calculator-form .form-row {
		margin-bottom: -15px;
	}
}

.profit-calculator-form .form-row div[class*="col"] {
	padding-left: 15px;
	padding-right: 15px;
}

.profit-calculator-form .form-row .form-group {
	margin-bottom: 25px;
}

.profit-calculator-form label {
	font-size: 18px;
}

.profit-thumb {
	text-align: right;
	animation: customBounce 3s linear infinite;
	float: left;
	margin-left: 100px;
	width: 145%;
}

@media (max-width: 1450px) {
	.profit-thumb {
		margin-left: 50px;
		width: 120%;
	}
}

@media (max-width: 1350px) {
	.profit-thumb {
		margin-left: 50px;
		width: 100%;
	}
}

@media (max-width: 1199px) {
	.profit-thumb {
		margin-left: 0;
	}
}

@media (max-width: 991px) {
	.profit-thumb {
		display: none;
	}
}



/*=========================================
        21. ACCORDION FAQ CSS
============================================*/

.accordion-faq.accordion > .card {
    overflow: hidden;
}

.accordion-faq.accordion .card-header {
    position: relative;
    cursor: pointer;
    background: #ffffff;
}
.accordion-faq.accordion .card-header:first-child {
    border-radius: calc(0.375rem - 1px) calc(0.375rem - 1px) 0 0;
}
.accordion-faq.accordion .card-header {
    border-bottom: 1px solid #EFF2F7;
}
.accordion-faq.accordion > .card:not(:first-of-type) .card-header:first-child {
    border-radius: 0;
}

.accordion-faq.accordion > .card .card-header {
    margin-bottom: -1px;
}
.accordion-faq.accordion > .card .card-header h6{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.accordion-faq.accordion .card-header[aria-expanded=false]:after {
    content: "+";
}
.accordion-faq.accordion .card-header[aria-expanded=true]:after {
    content: "-";
}
.accordion-faq.accordion .card-header:after {
    content: "+";
    position: absolute;
    right: 1.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/*=========================================
            23. PRICING CSS
============================================*/
.card.single-pricing-pack{
    transition: all 0.2s ease 0s;
    box-shadow: 0 0 0 1px #ebebeb;
    border: none;
    border-top: 4px solid transparent;
}

.card.single-pricing-pack:hover {
    z-index: 2;
    border-radius: 1rem !important;
}
.single-pricing-pack:hover {
    box-shadow: 0 1rem 3rem rgba(31,45,61,.125)!important;
    transform: translate(0, -5px);
    border-top: 4px solid #1A2C79;
}
.single-pricing-pack .card-body {
    color: rgb(132, 146, 166);
    flex: 1 1 auto;
    padding: 1.5rem;
}
.pricing-header{
    position: relative;
    background: transparent;
}
.pricing-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    line-height: 120px;
    margin:  0 auto;
}

.font-weight-bolder{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.pricing-header::after {
    content: "";
    display: block;
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40%;
    height: 1px;
    background: radial-gradient(at center center, rgb(222, 228, 239) 0px, rgba(255, 255, 255, 0) 75%);
}

.pricing-feature-list li{
    font-size: 14px;
    line-height: 28px;
}

/*price new style*/

.popular-price{
    box-shadow: 0 1rem 3rem rgba(31,45,61,.125)!important;
    transform: translate(0, -5px);
    border-top: 4px solid #1A2C79 !important;
}
.pricing-value{
    position: relative;
    display: block;
}
.pricing-value.card-footer{
    border-color: #ebebeb;
    background: transparent;
}
.pricing-value.card-footer::after {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    right: 2.875rem;
    display: block;
    content: "\e628";
    font-size: 1.375rem;
    font-family: "themify";
}
.pricing-value.card-footer:hover {
    background: #1A2C79;
    color: #ffffff;
}
.pricing-value.card-footer:hover::after {
    right: 1.875rem;
    color: inherit;
}
.pricing-value .card-price {
    font-size: 2.5rem;
    font-weight: 500;
}
a.pricing-value {
    text-decoration: none;
    color: #757575;
}

/**Testimonial Carousel Style**/

.carousel {
	margin: 50px auto;
}
.carousel .carousel-item {
	color: #1A2C79;
	overflow: hidden;
    min-height: 120px;
	font-size: 13px;
}
.carousel .media {
	position: relative;
	padding: 0 0 0 20px;
	margin-left: 20px;
}
.carousel .media img {
	width: 75px;
	height: 75px;
	display: block;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: 2px solid #fff;
}
.carousel .testimonial {
    color: #fff;
    position: relative;    
    background: #1a2c79;
	padding: 15px;
	margin: 0 0 20px 20px;
}
.carousel .testimonial::before, .carousel .testimonial::after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: -20px;
}
.carousel .testimonial::before {
    width: 20px;
    height: 20px;
	background: #1A2C79;
	box-shadow: inset 12px 0 13px rgba(100,97,140,0.5);
}
.carousel .testimonial::after {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
}
.carousel .carousel-item .row > div:first-child .testimonial {
	margin: 0 20px 20px 0;
}
.carousel .carousel-item .row > div:first-child .media {
	margin-left: 0;
}
.carousel .testimonial p {
	text-indent: 40px;
    line-height: 21px;
	margin: 0;
}
.carousel .testimonial p::before {
	content: "\201D";
  	font-family: Arial,sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 68px;
    line-height: 70px;
    position: absolute;
    left: -25px;
    top: 0;
}
.carousel .overview {
	padding: 3px 0 0 15px;
}
.carousel .overview .details {
	padding: 5px 0 8px;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #454040;
}

.carousel-indicators {
	bottom: -80px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 17px;
    height: 17px;
	border-radius: 0;
	margin: 1px 5px;
  	box-sizing: border-box;
}
.carousel-indicators li {	
    background: #e2e2e2;
    border: 4px solid #fff;
}
.carousel-indicators li.active {
	color: #fff;
    background: #ff5555;
    border: 5px double;    
}
.star-rating li {
	padding: 0 2px;
}
.star-rating i {
	font-size: 14px;
	color: #ffdc12;
}